@charset "UTF-8";

* {
	font-family: cursive;
}

html {
	position: relative;
	left: 100px;
	top: 100px;
	width: 800px;
	height: 600px;
	border: 3px solid #333;
	border-radius: 5px;
}

#headerList {
	width: 800px;
	position: relative;
	bottom: 8px;
	right: 8px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
	/*border-radius: 500px;*/
}

/*#area1 {
	background-color: rgb(5,96,3);
}*/

ul:after {
	content: '';
	display: block;
	clear: both;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.homeLi {
	background-color: brown;
}

.active {
	background-color: #4CAF50;
}

li:hover:not(.active) {
	background-color: black;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	border-color: rgb(200, 200, 200);
}

th {
	background-color: rgb(200, 200, 200);
}

td:not(#checkBoxTd) {
	border: none;
	border-bottom: 1px solid;
	border-left: none;
	border-right: none;
	padding: 10px;
	border-color: rgb(200, 200, 200);
}

#innerArea0 {
	width: 760px;
	height: 400px;
	overflow: auto;
	border: 1px dotted rgb(200, 200, 200);
	display: flex;
	justify-content: center;
}

#innerArea1 {
	width: 760px;
	height: 400px;
	overflow: auto;
	border: 1px dotted rgb(200, 200, 200);
	display: flex;
	justify-content: center;
	align-items: center;
}

#checkBoxTd {
	border-left: 1px solid;
	border-color: rgb(200, 200, 200);
}
/*#nidTd{
	text-align: left;
}*/
#foot {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.logoutLi {
	margin-left: 378px;
	background-color: goldenrod;
}

#joinLi {
	margin-left: 306px;
}

#loginLi {
	margin-left: 270px;
}

.loginLi {
	background-color: goldenrod;
}

textarea {
	resize: none;
}

button {
	padding: 5px;
	font-size: 16px;
}